.parallax1 {
    background-image: url("../../images/stars.png");
    min-height: 600px;  
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin-bottom: 0px;
  }
  
  .parallaxbg1 {
    background-color: white;
    opacity: 80%;
    height: 600px;
    width: 30%;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
  }